apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-web-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-web-app
  template:
    metadata:
      labels:
        app: my-web-app
    spec:
      containers:
        - name: my-web-app
          image: omnagare/web-portfolio-intern:v1
          ports:
            - containerPort: 8000
strategy:
    canary:
      steps:
        - setWeight: 10
          pause: {}
        - setWeight: 50
          pause:
            duration: 30s
